<?xml version="1.0"?>
<launch>
	 <arg name="use_sim_time" default="true"/>
         <param name="robot_description" textfile="$(find roomba_robot)/roomba_description/urdf/roomba.urdf"/>
  	<include file="$(find gazebo_ros)/launch/empty_world.launch">
    		<arg name="use_sim_time" value="$(arg use_sim_time)"/>
  	</include>
	<!--Spawn a robot into Gazebo -->
	 <!-- Spawn an irobot create into Gazebo -->
  <!--node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find roomba_robot)/roomba_description/model-1_4.sdf -sdf -model create"/-->

       <!-- Spawn a robot into Gazebo-->
       <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model create" />    

       <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />
       <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

 

</launch>

